



{% include 'core/header.html' %}
{% load static %}


<style>
  body{ 
      background-color:#262833;
    }
   .cont{
      margin-top: 0px;
      height: 450px;
      width: 60pc;
      border-radius: 6px;        
      display: block;
      margin: auto;   
      padding: 40px 35px;
   }
   .a{
    width: 30%;
        padding: 8px 0;
        border: none;
        background-color:  #0bdc5b62;
        font-size: 18px;
        color: #dfefe7b7;
        text-transform: uppercase;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 16px 8px 0 rgba(0,0,0,0.2), 0 9px 4px 0 rgba(0, 0, 0, 0.201);
   }
  
  </style>





  <div class="d-flex" style="padding:2pc; margin-left:4pc;margin-right:4pc;">
      
    <div class="p-2 w-100 text-light"> <figure class="text-end">
      <blockquote class="blockquote">
      <p ><h1 class="text-success" style="   Georgia, 'Times New Roman', Times, serif;text-shadow:6px 6px 4px rgba(0,0,0,0.9);">Build Your Amazing Resume</h1></p>
      <p class="welcome_text text-light"style="font-family:  'Times New Roman', Times, serif;">A Simple & Quick Way To Create A New Resume<br> 
      Fill In The Blank Form, Generate And Download PDF Resume</p>
      <a class="a" href=""><button class="startBtn" style=" width: 30%;
        padding: 8px 0;
        border: none;
        background-color:  #0bdc5b62;
        font-size: 18px;
        color: #dfefe7b7;
        text-transform: uppercase;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 16px 8px 0 rgba(0,0,0,0.2), 0 9px 4px 0 rgba(0, 0, 0, 0.201);">Explore</button></a>
    </blockquote>

    </figure></div>
    <div class="opacity-25">
      <div class="p-2 flex-shrink-1 opacity-20"><div class="shadow-lg  bg-transparent rounded"><img src="/static/img/logo.png"  alt="..."height="350" width="650"> </div></div>
      </div>
  </div>
<br>
  <p style="text-align:center; color:lightgreen;font-family:  'Times New Roman', Times, serif;text-shadow:6px 6px 4px rgba(0,0,0,0.9);font-size:1.5pc;">Our Services</p>
  
  <p style="text-align:center; color:white;font-family:  'Times New Roman', Times, serif; font-size:2pc;">Provide Awesome Services With Our Tools</p><br>
  
  <div style="margin-left:15pc; margin-right:15pc; margin-bottom:2pc; ">
  <div class="row row-cols-2 row-cols-md-4 g-4">
    <div class="col">
      <div class="card bg-success">
        <img src="/static/img/easy.jpg" class="card-img-top" alt="..." height="320" width="80">
        <div class="card-body" style="box-shadow: 0 16px 8px 0 rgba(0,0,0,0.2), 0 9px 4px 0 rgba(0, 0, 0, 0.201);
        background-color: #BDBDBD;">
          <h5 class="card-title">Easy online resume builder</h5>
          <p class="card-text "> Create an awesome resume without leaving your web browser.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-success">
        <img src="/static/img/spel1.jpg" class="card-img-top" alt="..." height="295">
        <div class="card-body" style="box-shadow: 0 16px 8px 0 rgba(0,0,0,0.2), 0 9px 4px 0 rgba(0, 0, 0, 0.201);
        background-color: #BDBDBD;">
          <h5 class="card-title">Automatic spell-checker</h5>
          <p class="card-text">  Built-in spell-checker takes care of the grammar for you. Create a resume with zero typos.</p>
        </div>
      </div>
    </div>
  </div></div>
   
  <div style="margin-left:15pc; margin-right:15pc; margin-bottom:2pc; ">
    <div class="row row-cols-2 row-cols-md-2 g-4">
    <div class="col">
      <div class="card bg-success">
        <img src="/static/img/auto2.jpg" class="card-img-top" alt="..."height="300">
        <div class="card-body" style="box-shadow: 0 16px 8px 0 rgba(0,0,0,0.2), 0 9px 4px 0 rgba(0, 0, 0, 0.201);background-color: #BDBDBD;">
          <h5 class="card-title">Automate summary generator</h5>
          <p class="card-text">Create powerful resume profile in a click. Writing is no longer obstacle. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-success"> <img src="/static/img/temp.jpg" class="card-img-top" alt="..."height="275">
        <div class="card-body" style="box-shadow: 0 16px 8px 0 rgba(0,0,0,0.2), 0 9px 4px 0 rgba(0, 0, 0, 0.201);background-color: #BDBDBD;">
          <h5 class="card-title">Beautiful Templates</h5>
          <p class="card-text">Professionally-designed resume templates and examples. Just edit and download in 5 minutes.</p>
        </div>
      </div>
    </div>
  </div></div>

           
  
    

    
   
        <div class="text-center " style="margin-left:5pc;margin-right:5pc;margin-top:2pc;margin-bottom:2pc;">
          <h3 class="card-title "> <p class="text-success" style="text-shadow:6px 6px 4px rgba(0,0,0,0.9);font-family:  'Times New Roman', Times, serif;">
            Effortlessly make a job-worthy resume that gets you hired faster</h3>
         
      <img style="clip-path: circle(50% at 50% 50%);" src="/static/img/c1.jpg" alt="" height="300" width="300">
      <p class="container bg-body-tertiary"><p class="text-success " style="font-family:  'Times New Roman', Times, serif;">  Getting that dream job can seem like an impossible task. We’re here to change that. Give yourself a real advantage with the best online resume maker: created by experts, improved by data, trusted by millions of professionals</p></p></h3>
</p> 

    </div>
      <div class="card text-bg-dark" style="margin-bottom:4pc; margin-top:4pc;background-color:#BDBDBD;">
        <img style="margin-bottom:4pc; margin-top:4pc; background-color:#BDBDBD;" src="/static/img/al.jpg" class="card-img" alt="..." height="400">
        <div class="card-img-overlay"style="margin-bottom:4pc;">
          <h3 class="card-title text-secondary-emphasis"> <p class="text-light" style="text-shadow:6px 6px 4px rgba(0,0,0,0.9);text-align:center;margin-top:15pc;font-family:  'Times New Roman', Times, serif;">Create perfect resumes for the modern job market</p></h3>
                         <p class="container bg-body-tertiary"><p class="text-light " style="text-align:center;font-family:  'Times New Roman', Times, serif;" >Creating a resume has never been this easy! In three simple steps, <br>create the perfect document to impress hiring managers and employers.<br> Minimum time, maximum professional quality..</p>
                         </p>
      </div>
      </div>              

                    {% include 'core/footer.html' %}
                 </div>
      </div>
           
</div>









